@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body{
    font-family: 'Lato', sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  border-radius: 5px;
  float: left;
  margin-top: 5%;
  margin-left: 10%;
}

.r{
    padding-left: 15%;
}

.r:after {
  content: "";
  display: table;
  clear: both;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.contain {
  padding: 25px 16px;
}
